
body {
    background-color: #F1EBE9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logo{
    display: flex;
    justify-content: center;
    margin: 3vh;
}

#logo img{
    width: 20vh;
    height: 10%;
}

#write-area{
    display: flex;
    background-color: white;
    width: 80%;
    height: 80vh;
    border-radius: 40px;
    margin: 0%;
}

form {
    width: 100%;
}

#w-title{
    padding-left: 0.5vh;
    padding-top: 3.5vw;
    padding-bottom: 1.0vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title {
    width: 90%;
}

#w-title textarea{
    font-size: 2vw;
    border: none;
    resize: none;
}

hr {
    max-width: 90%;
}

#w-content textarea {
    font-size: 1.5vw;
    border: none;
    resize: none;
}

#w-content{
    padding-left: 0.5vh;
    padding-top: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content {
    width: 90%;
    height: 50vh;
}

#img {
    margin-top: 1vh;
    margin-left: 4vw;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 3vw;
}

#buttons button {
    font-size: 1vw;
    width: 8vw;
    height: 2vw;
    margin-right: 1vw;
    border-radius: 30px;
    border: none;
}

#buttons button:hover {
    cursor: pointer;
}

.fix button{
    background-color: #4C8492;
    color: white
}