{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시물 수정하기</title>
    <link href="{% static 'css/fix.css' %}" type="text/css" rel="stylesheet" />
  </head>

  <body>
    <div id="logo" onclick="cancel()">
      <a href="{% url 'myapp:list' %}"
                    > <img src="{% static 'images/logo.png' %}"
                        alt="logo"/></a>
    </div>
    <div id="write-area">
      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div id="f-title">
          <textarea name="title" id="title" rows="1">{{ post.title }}</textarea>
        </div>

        <hr />

        <div id="f-content">
          <textarea name="content" id="content">{{ post.content }}</textarea>
        </div>

        <div id="img">
          <input type="file" name="SelectFile" accept="image/*"></a>
          
        </div>

        <div id="buttons">
          <div class="fix" onclick="fix()">
            <button type="submit">수정하기</button>
          </div>

          <div class="cancel" onclick="cancel()">
            <button>취소</button>
          </div>
        </div>
      </form>
    </div>
  </body>

  <script>
    function fix() {
      var result = confirm("수정하시겠습니까?");
      if (result) {
        if (
          document.getElementById("content").value != "" &&
          document.getElementById("title").value != ""
        ) {
          alert("수정되었습니다.");
          window.location.replace("More.html");
        }
        if (document.getElementById("title").value == "") {
          alert("제목을 입력해 주세요.");
          return;
        }
        if (document.getElementById("content").value == "") {
          alert("내용을 입력해 주세요.");
          return;
        }
      } else {
        return;
      }
    }

    function cancel() {
      var back = confirm("글 수정을 취소하시겠습니까?");
      if (back) {
        alert("이전으로 돌아갑니다.");
        window.location.replace("{% url 'myapp:detail' post.id %}");
      } else {
        return;
      }
    }
  </script>
</html>
