*{
    padding: 0;
    margin: 0;
    border: none;
}

body{
    background: #F1EBE9;
    font-size: 11px;
    font-weight: 600;
    font-family: Noto Sans Symbols;
}

.login-wrapper{
    width: 100%;
    height: auto;
    background: rgba(247, 224, 163, 0.53);
    margin-top: 212px;
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
}

.logo {
    width: 313px;
    height: 115px;
    margin-top: 37px;
    margin-bottom: 36px;
}

p {
    text-align: left;
    margin-left: 523px;
    margin-bottom: 4px;
}

#login-form > input{
    width: 313px;
    height: 49px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 15px;
    border-radius: 8px;
    border-width: 1px;
    background-color: #F8F8F8;
}

#login-form > input[type="submit"]{
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    background-color: #4C8492;
    border-style: none;
    margin: 27px auto 15px;
}

span {
    color: #737388;
    margin-right: 20px;
}

a:link, a:visited {
    text-decoration: none;
    color: #737388
}