body {
    background-color: #f1ebe9;
}

#logo {
    margin: 3% 42.5% 3% 42.5%;
    width: 15%;
    height: 5%;
}

.content {
    background-color: #ffffff;
    width: 90%;
    margin: 0% 5% 10% 5%;
    border-radius: 3%;
}

.title {
    font-weight: bold;
    font-size: 300%;
    padding: 3%;
}

.middle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    margin-left: 3%;
    font-size: 130%;
}

.content_btn {
    display: flex;
    flex-direction: row;
    margin-right: 5%;
}

#fix {
    color: #f7e0a3;
    border: none;
    padding: 10px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 130%;
    background-color: #f09c67;
}

#del {
    color: #f7e0a3;
    border: none;
    padding: 10px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 130%;
    background-color: #f09c67;
}

#back {
    color: #f7e0a3;
    border: none;
    padding: 10px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 130%;
    background-color: #f09c67;
}

#fix_a {
    margin-right: 8%;
}

#line {
    color: #f09c67;
    border: none;
    height: 2px;
    background-color: #f09c67;
}

#img {
    margin: 3%;
    display: flex;
    justify-content: center;
}

.text {
    font-size: 130%;
    margin: 1%;
    padding: 3%;
}
